PORT=8080
BASE_URL=https://d.gluek.info
INVITE_BASE_URL=https://i.gluek.info/#
DB_PATH=/app/data/username.db
MONITOR_URL=https://ping.gluek.info/ping/YOUR-UUID
DISPLAY_NAME=Username Bot
STATUS_TEXT=Short custom invite link service for Delta Chat: https://d.gluek.info
AVATAR_PATH=icon.png
