PORT=8080
BASE_URL=https://deltachat.id
INVITE_BASE_URL=https://i.deltachat.id/#
DB_PATH=/app/data/username.db
MONITOR_URL=https://ping.gluek.info/ping/YOUR-UUID
DISPLAY_NAME=Username Bot
STATUS_TEXT=Short custom invite link service for Delta Chat: https://deltachat.id
AVATAR_PATH=icon.png
